<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="UTF-8">
        <title>History Page of My EMAB</title>
        <link href="css/style.css" type="text/css" rel="stylesheet">

    </head>
    <body>
        <header>
            <h1>EMAB</h1>
            <p>Logo Image </p>
              
           </header>
           <nav>
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="history.html">HISTORY</a></li>
                <li><a href="place.html">PLACE</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="contact.html">CONTACT US</a></li>
            
            </ul>
         </nav>       
        <div id="wrapper">
            <div class="row">
                <div class="third">
                    <h2>Headline 2</h2>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate."</p>
                </div>
                <div class="third">
                    <h2>Headline 2</h2>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate."</p>
                </div>
                <div class="third">
                    <h2>Headline 2</h2>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate."</p>
                </div>

            </div> 
            <div class="box">
                <h3>Headline 2</h3>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."</p>
                <p> History Image </p>
            </div>
        </div>
        <footer>
            <ul>
                <li>Copyright &copy; 2023</li>
                <li>All Rights Reserved</li>
                <li>Terms of Use</li>
                <li><a href="../index.html">Web Design by RODAS</a></li>
                <li><a href="https://validator.w3.org/nu/?doc=http%3A%2F%2Fnorth.mystudentswa.com%2Frodasge%2Fit161%2Ftemplate%2Fhistory.html">Valid!!!</a></li>
            </ul>

        </footer>
    </body>
</html>